html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.page {
  overflow: hidden;
  min-height: 100%;
  color: #1f373d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?tsjlfu");
  src: url("../fonts/icomoon.eot?tsjlfu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tsjlfu") format("truetype"), url("../fonts/icomoon.woff?tsjlfu") format("woff"), url("../fonts/icomoon.svg?tsjlfu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: #919eb1;
}

.icon-bed:before {
  content: "\e901";
}

.icon-dribbble:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-location1:before {
  content: "\e904";
  color: #fff;
}

.icon-phone1:before {
  content: "\e905";
  color: #fff;
}

.icon-search1:before {
  content: "\e906";
  color: #919eb1;
}

.icon-shower:before {
  content: "\e907";
}

.icon-twitter:before {
  content: "\e908";
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 62px;
  color: #1f373d;
  margin: 75px 0 45px 0;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -3px;
}

h2 {
  color: #1f373d;
  font-size: 40px;
  line-height: 1.25;
  text-transform: capitalize;
  margin: 0 0 50px;
  font-weight: 600;
}

h3 {
  margin: 25px 0;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 13px;
  line-height: 30px;
}

.promo {
  overflow: hidden;
  position: relative;
  padding: 60px 0 0;
}

.promo .section-title {
  max-width: 620px;
}

.promo-background {
  background-color: #96bece;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 200px;
}

.promo-footer {
  display: flex;
  justify-content: space-between;
}

.promo-footer__button {
  transform: rotate(270deg) translateY(-50px);
  background-color: #fff;
  border: none;
  font-size: 12px;
  color: #919eb1;
  padding: 0 0 0 45px;
  height: 20px;
  position: relative;
}

.promo-footer__button:focus {
  outline: none;
}

.promo-footer__button i {
  transform: rotate(90deg);
  display: block;
  font-size: 25px;
  position: absolute;
  left: 20px;
  bottom: -3px;
}

.promo__contacts {
  display: flex;
  align-items: center;
}

.promo__contacts__item {
  background-color: #ffcc01;
  padding: 30px 50px 30px 90px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.promo__contacts__item i {
  position: absolute;
  left: 60px;
  font-size: 24px;
}

.promo__contacts__item .icon-location1 {
  top: 30px;
  font-size: 25px;
  left: 45px;
}

.search-bar {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  width: 475px;
  margin-bottom: 140px;
  position: relative;
}

.search-bar i {
  position: absolute;
  top: 25px;
  left: 25px;
}

.search-bar__input {
  padding: 25px 55px;
  font-size: 15px;
  background-color: #fff;
  border: none;
  flex: 1 0 auto;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__input::placeholder {
  color: #919eb1;
}

.search-bar__submit {
  background-color: #ffcc01;
  padding: 25px 30px;
  font-size: 15px;
  border: none;
}

.search-bar__submit:focus {
  outline: none;
}

.statistics {
  padding: 155px 0 20px;
  display: flex;
  justify-content: space-between;
}

.statistics__text {
  flex: 1 0 50%;
  padding-right: 35px;
}

.statistics__text p {
  margin-bottom: 30px;
}

.statistics__numbers {
  flex: 1 0 50%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  justify-content: center;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px 30px 0;
  width: 210px;
  height: 210px;
  background-color: #f6f5f4;
}

.counter__number {
  font-size: 40px;
  line-height: 50px;
  color: #ffcc01;
  font-weight: 600;
}

.counter__text {
  font-size: 14px;
  line-height: 50px;
  font-weight: 600;
}

.appartments {
  background-color: #f6f5f4;
}

.appartments .container {
  padding: 55px 15px 80px;
}

.appartments-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.appartments-footer .search-bar {
  margin: 0 45px 0 0;
}

.appartments-footer__button {
  background-color: #fff;
  border: none;
  padding: 25px 50px;
  font-size: 15px;
  border-radius: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-gap: 30px;
  margin-bottom: 60px;
}

.gallery-item {
  background-color: #fff;
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.35);
}

.gallery-item__image {
  background-color: #b1d7e8;
  height: 380px;
}

.gallery-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.gallery-item__title {
  font-weight: 600;
  font-size: 15px;
  flex: 1 0 100%;
  margin-bottom: 30px;
}

.gallery-item__price {
  font-weight: 600;
  font-size: 18px;
  color: #ffcc01;
}

.gallery-item__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-item__icon {
  font-size: 13px;
  color: #919eb1;
  padding-right: 45px;
  position: relative;
}

.gallery-item__icon i {
  position: absolute;
  left: -25px;
}

.section-title {
  max-width: 470px;
}

.section-title p {
  margin-bottom: 75px;
}

.how-it-works .container {
  padding: 65px 15px 70px;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.step {
  margin-right: 30px;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.step:last-child {
  margin-bottom: 0;
}

.step:hover {
  background-color: #ffcc01;
  color: #fff;
}

.step:hover .step__footer {
  border-color: #fff;
}

.step__number {
  font-size: 170px;
  display: block;
  transform: translate(-40px, -50px);
  font-weight: 700;
}

.step__text {
  padding: 0 0 60px 70px;
}

.step__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  display: block;
  transform: translateX(-25px);
}

.step p {
  margin-bottom: 25px;
}

.step__footer {
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid #1f373d;
  font-weight: 600;
  padding-bottom: 5px;
}

.services {
  display: flex;
}

.services__image {
  height: 650px;
  flex: 1 0 0;
  background-color: #acd1e1;
  margin-right: 125px;
}

.services__text {
  flex: 1 0 0;
}

.services__textblock {
  margin-bottom: 60px;
}

.services__textblock h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 25px;
}

.agents {
  background-color: #f6f5f4;
}

.agents .container {
  padding: 65px 15px 40px 15px;
}

.agent {
  background-color: #fff;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.35);
  min-width: 270px;
  margin-right: 30px;
}

.agent__image {
  background-color: #cdccce;
  height: 380px;
}

.agent__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.agent__title {
  font-size: 15px;
  font-weight: 600;
  flex: 1 0 100%;
  margin-bottom: 30px;
  display: block;
}

.agent__name {
  font-weight: 600;
  font-size: 15px;
  color: #ffcc01;
  margin-right: 10px;
}

.agent__social {
  flex: 1 0 0;
  max-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agent__social a {
  text-decoration: none;
  color: #1f373d;
}

.contact-us .container {
  padding: 90px 15px 105px 15px;
}

.location {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 95px;
}

.location__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #8da4be;
  flex: 1 0 50%;
  min-height: 300px;
}

.location__name {
  background-color: #ffcc01;
  padding: 30px 55px 30px 115px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  transform: translateY(50%);
  position: relative;
}

.location__name i {
  font-size: 30px;
  position: absolute;
  top: 25px;
  left: 60px;
}

.location__text {
  flex: 1 0 50%;
  padding: 80px 0 0 130px;
}

.location__text h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 25px;
}

.location__text p {
  margin-bottom: 45px;
}

.location__link {
  display: inline-block;
  padding: 30px 60px;
  background-color: #1f373d;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.location:nth-child(2n) {
  flex-direction: row-reverse;
}

.location:nth-child(2n) .location__image {
  justify-content: flex-end;
}

.location:nth-child(2n) .location__name {
  transform: translate(60px, 50%);
}

.location:nth-child(2n) .location__text {
  padding: 80px 130px 0 0;
  text-align: right;
}

.location:nth-child(3) .location__text {
  padding: 30px 0 0 130px;
}

@media screen and (max-width: 1200px) {
  .statistics__text {
    padding-right: 20px;
  }
  .statistics__numbers {
    padding-right: 0;
  }
  .counter {
    margin: 0 15px 15px 0;
  }
}

@media screen and (max-width: 1030px) {
  .promo__contacts__item {
    padding: 30px 30px 30px 90px;
  }
  .gallery {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  .step {
    margin-right: 15px;
  }
  .step__text {
    padding: 0 0 25px 30px;
  }
  .location__text {
    padding: 80px 0 0 100px;
  }
  .location:nth-child(2n) .location__text {
    padding: 80px 100px 0 0;
    text-align: right;
  }
  .location:nth-child(3) .location__text {
    padding: 30px 0 0 100px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    margin: 0 0 25px;
  }
  .agent {
    margin-bottom: 30px;
  }
  .location {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .location__text {
    padding: 20px;
  }
  .gallery {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
  .counter {
    width: 170px;
    height: 170px;
  }
  .appartments-footer .search-bar {
    margin-bottom: 35px;
  }
  .steps {
    flex-direction: column;
  }
  .step {
    margin: 0 0 15px 0;
  }
  .step__text {
    padding: 0 50px 50px 50px;
  }
  .search-bar {
    width: 300px;
  }
  .search-bar i {
    left: 4px;
  }
  .search-bar__input {
    padding: 25px;
    width: 150px;
  }
  .promo-background {
    left: 100px;
  }
  .promo__contacts {
    flex-direction: column;
  }
  .promo__contacts__item {
    padding: 30px 30px 30px 95px;
    width: 300px;
  }
  .services__image {
    margin-right: 25px;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 35px;
  }
  .promo-background {
    left: 50px;
  }
  .promo__contacts__item {
    padding: 20px 10px;
    width: 180px;
    font-size: 15px;
  }
  .promo__contacts__item i {
    display: none;
  }
  .search-bar__submit {
    padding: 20px 10px;
  }
}

.header {
  height: 95px;
  background-color: #fff;
  color: #1f373d;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-checkbox {
  display: none;
}

.menu-opener {
  display: none;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 0;
}

.main-nav a {
  text-decoration: none;
  color: #1f373d;
  transition: all 0.3s ease;
}

.main-nav .nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  transition: all 0.3s ease;
}

.main-nav .nav-list__item {
  padding: 0 15px;
}

.main-nav .nav-list__item:last-child {
  padding-right: 0;
}

.main-nav .nav-list__item:hover > a {
  color: #ffcc01;
}

.logo__text {
  font-size: 25px;
  color: #1f373d;
  text-decoration: none;
  font-weight: 600;
  margin-right: 200px;
}

.auth {
  display: flex;
  padding: 0 60px 0 0;
}

.auth__item {
  padding: 13px 30px;
  font-size: 13px;
  color: #1f373d;
  transition: all 0.3s ease;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.auth__item:focus {
  outline: none;
}

.auth__item:hover {
  color: #ffcc01;
}

.auth__item--background {
  background-color: #ffcc01;
}

.auth__item--background:hover {
  color: #ffcc01;
  background-color: #1f373d;
}

@media screen and (max-width: 1200px) {
  .logo__text {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1030px) {
  .logo__text {
    margin-right: 50px;
  }
  .main-nav .nav-list__item {
    padding: 0 10px;
  }
  .auth {
    padding-right: 25px;
  }
  .auth__item {
    padding: 15px;
  }
}

@media screen and (max-width: 900px) {
  .logo__text {
    margin-right: 35px;
  }
  .main-nav .nav-list__item {
    padding: 0 5px;
  }
  .auth {
    padding-right: 15px;
  }
  .auth__item {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-nav {
    justify-content: flex-end;
    position: relative;
  }
  .main-nav .nav-list {
    opacity: 0;
    visibility: hidden;
    display: block;
    transition: all 0.3s ease;
    position: absolute;
    top: -160px;
    right: 0px;
    z-index: 1;
    padding: 10px;
    background-color: #fff;
    border-top: 3px solid #ffcc01;
    width: 200px;
  }
  .main-nav .nav-list__item {
    padding: 16px 20px;
  }
  .menu-opener {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 15px;
    order: 2;
  }
  .menu-checkbox:checked ~ .nav-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(200px);
  }
  .menu-opener:before,
  .menu-opener:after,
  .menu-opener span {
    position: absolute;
    height: 3px;
    width: 20px;
    top: 0;
    left: 0;
    content: '';
    transition: all 0.3s;
    background: #ffcc01;
  }
  .menu-opener:after {
    top: 8.5px;
  }
  .menu-opener span {
    top: 17px;
  }
  .menu-checkbox:checked + .menu-opener:after {
    opacity: 0;
  }
  .menu-checkbox:checked + .menu-opener:before {
    opacity: 1;
    transform: rotate(45deg);
    left: 0px;
    top: 8px;
  }
  .menu-checkbox:checked + .menu-opener span {
    opacity: 1;
    transform: rotate(-45deg);
    left: 0px;
    top: 8px;
  }
}

@media screen and (max-width: 420px) {
  .menu-opener {
    margin-right: 0;
  }
  .logo__text {
    margin-right: 5px;
  }
  .auth {
    padding-right: 5px;
  }
  .auth__item {
    padding: 5px;
  }
}

.footer {
  background-color: #1f373d;
  color: #fff;
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
  border-bottom: 1px solid #fff;
  flex-wrap: wrap;
}

.footer__logo,
.footer h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 0;
}

.footer__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 85px 0;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .row__item {
  color: #919eb1;
  text-transform: uppercase;
  font-size: 13px;
}

.footer-right {
  flex: 1 0 0;
}

.footer-left {
  margin-right: 200px;
}

.footer__small-logo {
  font-size: 25px;
  text-transform: lowercase;
  font-weight: 600;
  display: block;
  margin-bottom: 70px;
}

.footer__copyrights {
  font-size: 14px;
  line-height: 1.5;
}

.footer .column {
  margin-top: 40px;
}

.footer .column__item {
  margin-bottom: 20px;
}

.footer .column__item a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
  transition: color 0.3s ease;
}

.footer .column__item a:hover {
  color: #919eb1;
}

.subscribe {
  display: flex;
  overflow: hidden;
  width: 465px;
}

.subscribe__input {
  padding: 25px 55px;
  font-size: 15px;
  background-color: #fff;
  border: none;
  flex: 1 0 auto;
}

.subscribe__input:focus {
  outline: none;
}

.subscribe__input::placeholder {
  color: #919eb1;
}

.subscribe__button {
  background-color: #fff;
  padding: 25px 35px;
  font-size: 15px;
  border: none;
  color: #fff;
}

.subscribe__button:focus {
  outline: none;
}

.subscribe__button i {
  transform: rotate(270deg);
  display: block;
  font-size: 30px;
  color: #1f373d;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: #1f373d;
    color: #fff;
  }
  .footer-title {
    margin-bottom: 15px;
  }
  .footer__logo,
  .footer h2 {
    font-size: 25px;
  }
  .footer-left {
    margin-right: 30px;
  }
  .footer__footer {
    padding: 55px 0;
  }
  .footer__header {
    padding: 30px 0;
  }
  .subscribe {
    width: 300px;
  }
  .subscribe__input {
    padding: 25px 15px;
  }
  .subscribe__button {
    padding: 25px 15px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
